.details-mod{
  width: 80%;
  height: 700px;
  border-top: 2px solid #f1f1f1;
  border-bottom: 0.5px solid black;
  display:inline-block;
  position: relative;
  margin-top: 2em;
  padding-top: 1.425em;
  background-color: #f5f5f5;
}

.details-meta{
  width: 100%;
  height: calc(30% * 230px);
  position: relative;
  display: block;
}

.details-tittle{
  font-size: 1.5em;
  font-weight: 600;
  margin: 4px;
}

.details-info{
  margin: 2px;
  margin-left: 4px;
  font-size: 0.9em;
}

.details-content{
  width: 100%;
  height:calc(60% * 230px);
  display:block;
  padding-top: 12px;
}

.details-content a{
  text-decoration: none;
  line-height: 1.43;
  color: #777;
}

.details-content a:hover{
  color:gray;
}
